{% macro footer() -%}

<!-- Footer Section Starts -->
<footer id="footer-content" class="footer-area" data-scroll-index="2">
    <div class="container">
       <div class="row footer-inner">
          <div class="col-lg-3">
             <aside class="f-about">
                <div class="footer-title">
                   <h3><a href="{{ url_for('index') }}">Fashlance</a></h3>
                </div>
                <p class="address">If you have any queries regarding the products, feel free to contact us.</p>
             </aside>
          </div>
          <div class="col-lg-6">
             <aside class="footer-social text-center">
                <div class="footer-title">
                   <h3>Find us on</h3>
                </div>
                <ul class="social-icons">
                   <li><a href="https://www.facebook.com/ellefson.sachin/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                   <li><a href="https://twitter.com/ellefsonmanutd" target="_blank"><i class="fab fa-twitter"></i></a></li>
                   <li><a href="https://www.instagram.com/ellefson.sachin/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                   <li><a href="https://github.com/p-sachin" target="_blank"><i class="fab fa-github"></i></a></li>
                   <li><a href="https://www.linkedin.com/in/sachin-pokharel-493716197/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
             </aside>
          </div>
          <div class="col-lg-3">
             <aside class="footer-contact">
                <div class="footer-title">
                   <h3>Contact Information</h3>
                </div>
                <div class="contact-info">
                   <h3 class="contact-name">Fashlance</h3>
                   <p class="address">Grodingevagen 15, Tumba<br>Stockholm, Sweden<br>
                      Tel: +46-73-243-7154
                   </p>
                </div>
             </aside>
          </div>
       </div>
    </div>
 </footer>
 <!-- Footer Section Ends -->

{% endmacro %}